.slickNext,
.slickPrev {
  position: absolute !important;
  top: 50% !important;
  cursor: pointer;
  border: 1px solid #E8E9EB;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: 0.4s ease;
  color: #191919;
  z-index: 100;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.slickPrev {
  left: -25px;
}

.slickNext {
  right: 10px;
}