.select{
  color: #fff ;
  min-width: fit-content;
  display: flex;
  
}
.select>option{
  color: #222222;
  cursor: pointer;
  /* font-weight: 400; */
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 30px;
  padding-right: 29px;
  text-align: left;
}

/* WebKit (Safari, Chrome) */
.select::-webkit-select-dropdown {
  border-radius: 10px !important;
  color: #222222 !important;
  /* Adjust the border radius as needed */
}

/* Firefox */
.select::-moz-select-dropdown {
  border-radius: 10px;
  /* Adjust the border radius as needed */
}

/* Edge */
.select::-ms-expand {
  border-radius: 10px;
  /* Adjust the border radius as needed */
}

.accountAccordion{
  position: absolute;
  display: flex !important;
  flex-direction: column;
  background-color: #fff;
  width: 200px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transform: translateX(-50%);
}

.accountAccordion>li{
  padding: 5px 10px;
}

.accountAccordion>li:hover{
  background-color: #f8f8f8;
}

.accountAccordion>li>a{
 font-size: 16px !important;
}
